
table {
    border-collapse: collapse;
    width: 80%;
    background-color: #fff;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    justify-content: center;
    align-items: center;
    margin-left: 50px;
    margin: 0;
}

th, td {
    padding: 12px 20px;
    text-align: left;
    border-bottom: 1px solid #ddd;
    color: #000000;
}

th {
    background-color: #00aebb;
    color: white;
    font-size: 1.2em;
}

tr:hover {
    background-color: #f1f1f1;
}

footer {
    text-align: center;
    padding: 10px;
    background-color:  #00eeff;
    color: rgb(0, 0, 0);
    
}
header {
    background-color: #00eeff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
.menu {
    list-style: none;
    padding: 0;
    margin: 0;
    background-color:rgb(0, 187, 201);
    display: flex;
}

.menu li {
    position: relative;
}

.menu li a {
    color: white;
    padding: 14px 20px;
    text-decoration: none;
    display: block;
}

.menu li a:hover {
    background-color: #111;
}

/* Estilos para el menú desplegable */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #00aebb;
    min-width: 160px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content li {
    list-style: none;
}

.dropdown-content li a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content li a:hover {
    background-color: #f1f1f1;
}

/* Mostrar el contenido cuando el mouse esté sobre el botón desplegable */
.dropdown:hover .dropdown-content {
    display: block;
}


body {
    font-family: Arial, sans-serif;
    background-color: #001846;
    color: #00aebb;
    margin: 0;
    padding: 0;
    
    margin: 0;
}
header {
    background-color: #00eeff;
    color: rgb(0, 0, 0);
    padding: 20px;
    text-align: center;
}
.content {
    padding: 20px;
}
.book-list {
    list-style-type: none;
    padding: 0;
}
.book-list li {
    background-color: #0e93e0b2;
    margin: 10px 0;
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}
.book-list li:hover {
    background-color: #e0f7fa;
}
footer {
    text-align: center;
    padding: 10px;
    background-color:  #00eeff;
    color: rgb(0, 0, 0);
}
h2{
    color:  #00eeff;
}
.contenedor{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
}